<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhaoliang.com.hmandroid">

    <!-- 拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 发送短信的权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 读写SD卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.day01.Day01Activity" />
        <activity android:name=".activity.day02.Day02Activity" />
        <activity android:name=".activity.day03.Day03Activity" />
        <activity android:name=".activity.day04.Day04Activity" />
        <activity android:name=".activity.day05.Day05Activity" />
        <activity android:name=".activity.day06.Day06Activity" />
        <activity android:name=".activity.day07.Day07Activity" />
        <activity android:name=".activity.day08.Day08Activity" />
        <activity android:name=".activity.day09.Day09Activity" />
        <activity android:name=".activity.day10.Day10Activity" />
        <activity android:name=".activity.day11.Day11Activity" />
        <activity android:name=".activity.day12.Day12Activity" />
        <activity android:name=".activity.day01.helloworld.HelloWorldActivity" />
        <activity android:name=".activity.day01.phonedialer.PhoneDialerActivity" />
        <activity android:name=".activity.day01.smssender.SmsSenderActivity" />
        <activity android:name=".activity.day01.clickevent.ClickEventActivity" />
        <activity android:name=".activity.day02.commonlayout.CommonLayoutActivity" />
        <activity android:name=".activity.day02.logcat.LogcatActivity" />
        <activity android:name=".activity.day02.sdstateandsize.SDStateAndSizeActivity" />
        <activity android:name=".activity.day02.storageoption.StorageOptionActivity" />
        <activity android:name=".activity.day02.operatorxml.OperatorXMLActivity" />
        <activity android:name=".activity.day02.preference.PreferenceActivity" />
        <activity android:name=".activity.day02.commonlayout.layout.LinearLayoutDemoOneActivity" />
        <activity android:name=".activity.day02.commonlayout.layout.LinearLayoutDemoTwoActivity" />
        <activity android:name=".activity.day02.commonlayout.layout.RelativeLayoutDemoOneActivity" />
        <activity android:name=".activity.day02.commonlayout.layout.RelativeLayoutDemoTwoActivity" />
        <activity android:name=".activity.day02.commonlayout.layout.FrameLayoutDemoActivity" />
        <activity android:name=".activity.day02.commonlayout.layout.TableLayoutDemoActivity" />
        <activity android:name=".activity.day02.commonlayout.layout.AbsolueLayoutDemoActivity" />
        <activity android:name=".activity.day02.storageoption.storage.BaseStorageActivity" />
        <activity android:name=".activity.day02.storageoption.storage.InternalStorageActivity" />
        <activity android:name=".activity.day02.storageoption.storage.ExternalStorageActivity" />
        <activity android:name=".activity.day02.storageoption.storage.SharedPerferencesActivity" />
        <activity android:name=".activity.day03.junit.JunitActivity" />
        <activity android:name=".activity.day03.sqlite.SqliteActivity" />
        <activity android:name=".activity.day03.listview.ListViewActivity" />
        <activity android:name=".activity.day03.dialog.DialogActivity"></activity>
    </application>

</manifest>